@import url(https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap&subset=malayalam);/* REGOLE GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manjari", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
}

h1 {
  text-align: center;
  padding: 50px 0;
  font-size: 50px;
}

.container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box {
  border: 2px solid #000;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  text-align: center;
}

.box p {
  font-size: 24px;
  padding: 20px 0 15px 0;
}

.box div {
  text-align: center;
}

.box div p {
  font-size: 24px;
  padding: 5px 0;
}

.box div .card {
  padding-top: 15px;
}

.box div .delete {
  text-decoration: underline;
  font-size: 18px;
}

